/* CSS declarations go here */
.header{
width:100%;
height:40px;
background-color:#ededed;
border-bottom-style:solid;
border-color:#d0c7c7;
margin-left:auto;
}
.login-menu{
float:right;
margin-right:20px;
margin-top:8px;
}
.jobpost
{
padding: 4px;
margin-top: 20px;
line-height: 1.428571429;
background-color: #e2e1df;
border: 1px solid #ddd;
border-radius: 4px;
transition: all .2s ease-in-out;
}



#inlinecss li
{
    display:inline;
    list-style-type: none;
    padding-right: 20px;
}
.heading-content{
float:left;
padding:0 20px;
margin-top:8px;
}
.heading-content a{
    padding-right:20px;
    text-decoration:none;
    font-size:16px;
}
#login-dropdown-list{
position:relative;
width:250px;
height:230px;
}
.container
{
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid{
    background-color : #ebeae8;
}
.container{
    background-color : #fff;
}
.container h1{    
    color : #df5e0e;
}
.submit-head-large{
    font-size : 18px;
}
.submit-head{
border-bottom: 1px solid #ebeae8;
}
#submit-sec1 h2{
    color : #8171ab;
}
#submit-sec1{
    border-bottom: 1px solid #ebeae8;
}
.submit-warn{
font-size:16px;
font-weight:bold;
}


.sticker , .sticker h4, .sticker h6
{
    background:#3e9cbf;
    font: bold 18px Oswald, sans-serif;
    color:#fff;
}

.sticker a 
{
    color:#fff;
}

.sticker a : hover
{
    color:#fff;
}

.padtop
{
    padding-top: 15px;
}
 
.jobDetailHead, .jobDetailBody{
    padding-left :30px;
}
 
.jobDetailApply{
    padding-left :30px;
}














































