/* CSS declarations go here */


table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}

.padleft
{
    margin-left: 7%;
    margin-right: 17%;
}
.panel-body
{
   margin-top: -15px;
}
/*Panel Background Colors*/
.panel-pink {
border-color: #CA4278;
}
.panel-pink>.panel-heading {
color: #fff;
background-color: #CA4278;
border-color: #CA4278;
}

 .panel-success
{
    border-color: #3c763d;
}
.panel-success > .panel-heading {
color: #fff;
background-color: #3c763d;
border-color: #3c763d;
}

.panel-warning
{
    border-color: #8a6d3b;
}
.panel-warning > .panel-heading {
color: #fff;
background-color: #8a6d3b;
border-color: #8a6d3b;
}

.panel-danger
{
    border-color: #a94442;
}
.panel-danger > .panel-heading {
color: #fff;
background-color: #a94442;
border-color: #a94442;
}

.panel-info
{
    border-color: #31708f;
}
.panel-info > .panel-heading {
color: #fff;
background-color: #31708f;
border-color: #31708f;
}

.navbar-form {
    margin-top:6px;
}
.navbar-form .btn-default{
   maring-align:  left;
}
.jobpost
{
padding: 4px;
margin-top: 20px;
line-height: 1.428571429;
background-color: #e2e1df;
border: 1px solid #ddd;
border-radius: 4px;
transition: all .2s ease-in-out;
}

.col-lg-3 .exp{
    float:right;
    margin-top:2px;
}

.desc
{
    padding-left: 5%;
}

#inlinecss li
{
    display:inline;
    list-style-type: none;
    padding-right: 20px;
}
/*.heading-content{
float:left;
padding:0 20px;
margin-top:8px;
}
.heading-content a{
    padding-right:20px;
    text-decoration:none;
    font-size:16px;
    color:#fff;
}*/
 #login-dropdown-list{
position:absolute;
width:250px;
height:230px;
} 
.container
{
    padding-left: 0px;
    padding-right: 0px;

    
}

.container-fluid{
    background-color : #ebeae8;
}
 .containers{
    background-color : #000;
    margin-right:50px;
} 
.container h1{    
    color : #df5e0e;
}
.submit-head-large{
    font-size : 18px;
}
.submit-head{
border-bottom: 1px solid #ebeae8;
}
#submit-sec1 h2{
    color : #8171ab;
}
#submit-sec1{
    border-bottom: 1px solid #ebeae8;
}
.submit-warn{
font-size:16px;
font-weight:bold;
}
#social-share{
    float:right;
    position:relative;
    margin:70px 20px 0px 0px;
}

.sticker , .sticker h4, .sticker h6
{
    background:#3e9cbf;
    font: bold 18px Oswald, sans-serif;
    color:#fff;
    
    
}

.sticker a 
{
    color:#fff;
}

.sticker a : hover
{
    color:#fff;
}

.padtop
{
    padding-top: 15px;
    /*padding-left: 5%;*/
    position: absolute;
    margin:50px 50px 0px 125px;
}

.poabs
{
    position: absolute;
}
 
.jobDetailHead, .jobDetailBody{
    padding-left :30px;
}
 
.jobDetailApply{
    padding-left :30px;
}
.hidden {
  display:none;
}











































